.adult-container {
  box-sizing: border-box;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 440px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #e1eaeb;
  border-radius: 4px;
}
.age-container {
  position: relative;
  top: -12px;
}
.age-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 89px;
  height: 24px;
  cursor: pointer;
}
.custom-field {
  position: relative;
  top: -14px;
  padding: 4px 16px 4px 0px;
  gap: 8px;
  width: 424px;
  height: 32px;
  border-radius: 0px 4px 4px 0px;
}
.confirm-btn {
  position: relative;
  left: 22rem;
  top: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 8px;
  gap: 10px;
  width: 87px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #17adbc;
  border-radius: 4px;
  color: #1496a2;
}
