.info-confirm-container {
  box-sizing: border-box;
  padding: 8px;
  gap: 8px;
  width: 440px;
  height: 147px;
  background: #ffffff;
  border: 1px solid #e6eff0;
  border-radius: 4px;
}
.info-content {
  padding: 0px;
  gap: 8px;
  width: 424px;
  height: 131px;
}
.right-content {
  padding: 0px;
  gap: 8px;
  width: 335px;
  height: 131px;
}
.head-content-info {
  width: 335px;
  height: 43px;
  color: #303333;
}
.sub-info {
  padding: 0px;
  width: 335px;
  height: 36px;
}
.most-info {
  padding: 0px;
  gap: 14px;
  width: 335px;
  height: 36px;
}
.first-text {
  width: 160.5px;
  height: 20px;
}
.second-text {
  width: 160.5px;
  height: 20px;
}
.bottom-info-btn {
  position: relative;
  left: 214px;
  top: 24px;
  gap: 16px;
  width: 228px;
  height: 80px;
}
.info-btn-fix {
  padding: 4px 8px;
  gap: 10px;
  width: 102px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #a4b1b3;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #a4b1b3;
  position: relative;
  left: 124px;
}
