.list-style {
  position: relative;
  left: -26px;
  top: -16px;
  color: #5e6566;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.privacy-container {
  box-sizing: border-box;
  align-items: center;
  padding: 8px;
  gap: 12px;
  width: 440px;
  height: 44px;
  background: #f6fbff;
  border: 1px solid #d7e8f5;
  border-radius: 4px;
}
.credit-container {
  position:relative;
  top: 30px;
  padding: 0px;
  gap: 16px;
  width: 440px;
  align-items: flex-end !important;
}
