.file-container {
  position: relative;
  width: 100% !important;
  top:-8rem;
  height: 100px;
  background: #f7fafa;
  border: 1px dashed #d2d6d6;
  border-radius: 4px;
}
.info-container {
  position: relative;
  top: 10px;
  box-sizing: border-box;
  padding: 16px 13px;
  gap: 10px;
  width: 440px;
  height: 136px;
  background: #ffffff;
  border: 1px solid #dce5e6;
  border-radius: 8px;
}
.user-detail {
  padding: 0px;
  gap: 16px;
  width: 414px;
  height: 104px;
}
.card-address {
  flex-wrap: wrap !important;
  padding: 0px;
  gap: 4px;
  width: 414px;
  height: 68px;
  position: relative;
  top: -1rem;
}
.child-card-text {
  width: 205px;
  height: 20px;
  gap: 8px;
  padding: 0px;
}
.fix-sm-text {
  font-size: 14px;
  color: #5e6566;
  line-height: 20px;
}
.progress {
  height: 3px !important;
  width: 80% !important;
  position: relative;
  left: 30px !important;
}
.progress-bar {
  background-color: #54bdc7 !important;
}
.custom-input {
  position:relative !important;
  top: -5rem !important;
  left: 4px !important;
  height: 118px;
  width: 21rem !important;
  outline: none;
  background-color: none !important;
  border: none !important;
  opacity: 0;
}
