.min-card-container {
  box-sizing: border-box;
  padding: 8px;
  width: 327px;
  height: 56px;
  background: #ffffff;
  border-radius: 4px;
}
.custom-menu {
  width: 64px;
  height: 24px;
  gap:26px;
}
