.detail-container {
    width: 390px;
    padding: 10px;
    border: 1px solid #e6eff0;
    border-radius: 4px;
  }
  
  .heading-below,
  .heading-top {
    font-family: var(--font);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303333;
    margin: 0;
  }
  
  .heading-below {
    font-size: 14px;
    line-height: 20px;
    color: #a9b1b3;
  }
  
  .feature-name,
  .feature {
    font-family: var(--font);
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #303333;
  }
  
  .feature-name {
    color: #8d9899;
  }
  
  .icon {
    color: var(--blue);
  }
  
  .rent {
    font-family: var(--font);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #303333;
  }