@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  --bg-color: #f7fafa;
  --blue: #17adbc;
  --grey: #303333;
  --font: "Open Sans";
  --font-lora: "Lora";
}